<Server port="9027" shutdown="SHUTDOWN">

  <!-- Comment these entries out to disable JMX MBeans support used for the administration web application -->
  <Listener className="org.apache.catalina.mbeans.ServerLifecycleListener" />
  <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />
  <Listener className="org.apache.catalina.storeconfig.StoreConfigLifecycleListener"/>

  <!-- Global JNDI resources -->
  <GlobalNamingResources>

    <!-- Editable user database that can also be used by UserDatabaseRealm to authenticate users -->
    <Resource name="UserDatabase" auth="Container" type="org.apache.catalina.UserDatabase"
       description="User database" pathname="conf/tomcat-users.xml"
           factory="org.apache.catalina.users.MemoryUserDatabaseFactory" />
  </GlobalNamingResources>

  <!-- Define the Tomcat Stand-Alone Service -->
  <Service name="Catalina">

    <!-- Define an AJP 1.3 Connector on port 8009 -->
    <Connector address="127.0.0.1" port="9527" enableLookups="false" protocol="AJP/1.3"
               connectionTimeout="30000" maxThreads="50" minSpareThreads="1" maxSpareThreads="3" />

    <Engine name="Catalina" defaultHost="linuxgames.com.br">

      <Realm className="org.apache.catalina.realm.UserDatabaseRealm" resourceName="UserDatabase"/>

      <Host name="linuxgames.com.br" appBase="/home/boaglio/public_html" unpackWARs="false" autoDeploy="false"
            xmlValidation="false" xmlNamespaceAware="false" deployOnStartup="false">
         <Alias>www.linuxgames.com.br</Alias>
         <Context path="" reloadable="true" docBase="/home/boaglio/public_html" >
         <Resource
            name="jdbc/linuxgames"
            type="javax.sql.DataSource"
            password="lgrocks"
            driverClassName="com.mysql.jdbc.Driver"
            username="boaglio_fb"
            url="jdbc:mysql://localhost/boaglio_linuxgames"
            maxActive="10"
            maxIdle="10"
            maxWait="15000"
            validationQuery="select current_date"
            removeAbandoned="true"
            removeAbandonedTimeout="30"
            logAbandoned="true"
         />
         </Context>
         <Context path="/manager" docBase="/usr/local/tomcat/users/boaglio/tomcat/server/webapps/manager"
                  privileged="true" antiResourceLocking="false" antiJARLocking="false" reloadable="true" />
         <Context path="/admin" docBase="/usr/local/tomcat/users/boaglio/tomcat/server/webapps/admin"
                  privileged="true" antiResourceLocking="false" antiJARLocking="false" reloadable="true" />
      </Host>

    </Engine>

  </Service>

</Server>
