/*
With Windows computers, it's known as a Tool Tip and with (Classic) MacIntosh, it's known as Balloon Help.
The meaning is a bit different (Balloon Help are more powerful than Tool Tip, and was adopted
in Windows in later release). Unfortunately, Balloon Help disapeared from Mac OS X, and where replaced with
a tooltips-like system that was used in OpenStep.
*/
.infoballoon {
	display: none;
	position: absolute;
	float: left;
	background-color: infobackground;
	/*border: thin solid black;*/
	border-width: 1px; /* IE doesn't think 'thin' should be 1px... */
	border-style: solid;
	border-color: black;
	padding-left: 4px;
	padding-right: 4px;
	opacity: .9; /* CSS 3 */
	-moz-opacity: 0.9; /* Gecko */
	filter: alpha(opacity=90); /* IE */
	border-radius: 4px; /* CSS 3 */
	-moz-border-radius: 4px; /* Gecko */
	-webkit-border-radius: 4px; /* WebKit */
}
.infoballoonable {
	cursor: help;
}

/* IE hack */
.infoballoon table tr th {
	text-align: left;
}

.number {
	text-align: right;
}